:root {
  --main-color: #f5333f;
  --second-color: ;
  --main-font: ;
  --second-font: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: blue solid 1px; */
}

a {
  color: #000;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
